{{ define "main" }}
					<div class="col-md tmux">
					
						<div class="row">	
							<div class="col-sm">
								<img src="/img/prof_2021-08.jpg" class="float-sm-left fancyimg" style="padding-right: 10px; "/>
							</div>
							<div class="col-sm">
								<p>Hello, I'm Sarah 💖<br />
								Consulting sysadmin<br />
								Badass Hacker Chick<br /> 
								</p>
								<p>This is my website, a mix between a portfolio, blog, and personal wiki to document the projects I do. Thanks for checking in. </p>
								<a href="/about/">More About Me</a>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<p>Languages: <br />PHP - MySQL - Python - Bash - C / C++ - Go</p>

								<p>Technologies:<br />vmWare - Cisco - Linux/BSD - Git - SQL - AWS - Google Cloud - Windows Server - Nagios - cPanel - Server Hardware</p>

								<p>Protocols: <br />TCP/IP - DNS - DHCP - HTTP/S - SMTP - POP - IMAP - SSH - FTP - OpenVPN
								</p>
							</div>
						</div>
					</div>
					<div class="col-md tmux">
						{{ .Content }}
					{{ range .Pages }}
							<h4><a href="{{.RelPermalink}}">{{ if .Title }}{{.Title}}{{ else }}Untitled{{ end }}</a>
								{{ if .Date }}<small class="text-muted">{{.Date.Format "2006-01-02"}}</small>{{ end }}</h4>
							{{ if .Summary }}<p>{{ .Summary }}...<a href="{{.RelPermalink}}">Read More</a></p>{{ end }}
					{{end}}
					</div>
{{ end }}
