---
title: "Distraction Free Youtube"
---

Youtube does not offer a way to get your subscriptions as an RSS feed via anything built in. So I can use an RSS reader in combination with a browser extension to remove the suggested videos from youtube, I've made this script. It allows me to keep up to date on certain channels without engaging with the youtube site's terrible suggestion algoritm and strictly forces me to keep away from it. 

<script src="youtuberss.js"></script>
<script type="text/javascript">
	function urlConvert(){
		url = document.getElementById("urlinput").value;
		rss = youtuberss(url);
		document.getElementById("rssoutput").value = rss;
	}
</script>

<div class="input-group">

	<div class="input-group-prepend">
		<input type="text" class="form-control" placeholder="Youtube Channel URL" id="urlinput" size="56">
	</div>
	
	<button class="btn btn-outline-secondary mb-2" type="button" id="button-addon2" onclick="urlConvert()">Convert</button>
	
	<div class="input-group-append ">
		<input type="text" class="form-control" placeholder="Youtube Channel RSS" readonly id="rssoutput" size="56">
	</div>

</div>
