			<div class="header row">
				<div class="col-lg tmux">
<pre>
 *****     ***    ******     ***    **   **  ***  **  **   **  **   **  **   **
**        ** **   **   **   ** **   **   **  **** **   ** **    ** **    ** ** 
 *****   **   **  ******   **   **  *******  ** ****    ***      ***      ***  
     **  *******  **  **   *******  **   **  **  ***    ***     ** **    ** ** 
 *****   **   **  **   **  **   **  **   **  **   **    ***    **   **  **   **
</pre>
				</div>
				<div class="col-lg tmux">
					<span class="bash-prompt">ls</span>
					{{ $currentPage := . }}
					<nav>
						<ul class="nav">
						{{ range .Site.Menus.main }}
				      <li class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
								<a class="nav-link{{ if .HasChildren }} dir{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
							</li>
						{{ end }}
						</ul>
					</nav>
					<span class="bash-prompt bash-cursor">_</span>
				</div>
			</div>

