<html>
	<head>
		{{ partial "head" . }}
	</head>
	<body>
		<div class="term tmux">
			<div class="container-fluid flex">
				{{ partial "header" . }}
				<div class="main row tmux">
					{{ block "main" . }}
					{{ end }}
				</div>
				{{ partial "footer" . }}
			</div>
		</div>
	</body>

	{{ "<!-- " | safeHTML }}
		{{ now }} 
	{{ "-->" | safeHTML }} 
</html>
