{{ define "main" }}	
	{{ if .Content }}
	<div class="col-md tmux">
		{{ .Content }}
	</div>
	{{end}}
	<div class="col-md tmux">
	{{ $combined := union .Pages .Sections }}
	{{ range $combined.ByDate }}

		<h4><a href="{{.RelPermalink}}">{{ if .Title }}{{.Title}}{{ else }}Untitled{{ end }}</a>
		{{ if .Date }}<small class="text-muted">{{.Date.Format "2006-01-02"}}</small>{{ end }}</h4>
		{{ if .Summary }}<p>{{ .Summary }}...<a href="{{.RelPermalink}}">Read More</a></p>{{ end }}
	{{ end }}
		</div>
{{end}}
