{{ define "main" }}
	<div class="col tmux">
		{{ if .Params.Title }}
		<h1>{{ .Params.Title }}</h1>
		{{ end }}

		{{ if .Params.Summary }}
		<p> {{ .Params.Summary }} </p>
		{{ end }}

		{{ if .Params.Toc }}
		{{.TableOfContents}}
		{{ end }}

		{{ .Content }}
	</div>
{{ end }}
