body {
/*    background-color: rgb(13, 13, 13); */
    background-image: url("/img/bg.jpg");    
    color: rgb(248, 239, 217);
    font-family: Hack,monospace;
}

img {
    width: auto;
    max-width: 100%;
}


a {
    color: #b095c8
}

ul.nav{
    margin-top: -10px;
    margin-bottom: -10px;
}
.main h1 {
    font-size: 1.6rem;
}

.main h2 {
    font-size: 1.4rem;
}

.main h3 {
    font-size: 1.2rem;
}

.main h4 {
    font-size: 1.0rem;
}

.main h5 {
    font-size: 1.0rem;
    text-decoration: underline;
}

.main h6 {
    font-size: 1.0rem;
    text-decoration: underline;
}

/* general TMUX styling */
.term {
    background-color: rgb(18 12 19 / 90%);
    backdrop-filter: blur(10px);
}
@media(min-width: 768px) {
    /* Emulate i3-gaps if we've got the screen real estate */
    .term {
        margin: 15px 15px 15px 15px;
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }
}

.container-fluid.flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.tmux {
    border: solid;
    border-color: rgb(101, 63, 73);
    border-width: 1px;
}


.header .tmux {
    height: auto!important;
    display: grid !important;
    place-items: center;
    align-content: space-evenly;
    justify-content: space-around;
    padding-top: 17px;
    padding-bottom: 17px;
}
.header pre {
    display: block !important;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 100%;
    font-size: .9vw;
    max-height: 100px;
    padding: 0;
    margin: 0;
    width: fit-content;
    border: 0;
    text-align: center;
    text-shadow: 3px 3px 3px #ff0076, -3px -1px 3px #3f83ff;
    --webkit-text-stroke: 6px rgb(230 36 135 / 12%);
    background-color: transparent;
}
.header .row [class^="col"]{
    max-height: 100px;
}

.main.row.tmux {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
}

/* On homepage */
.fancyimg {
    border-radius: 75px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(101, 63, 73);
    margin: 10px;
}

/* For codeblocks around the site */
pre {
    color: #fff;
    background-color: #222;
    display: inline-block;
    padding: 10px;
    max-width: 100%;
    overflow-x: scroll;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(101, 63, 73);
    line-height: 1.2em;

}

.footer {
    background-color: rgb(101, 63, 73, 0.9);
    color: rgb(28, 32, 33);
    height: auto!important;
}


/*    sm : min-width: 576px
 *    md : min-width: 768px
 *    lg : min-width: 992px
 *    xl : min-width: 1200px
 *
 *    @media(min-width: npx) {
 *        specific styling goes here
 *    }
*/

@media(min-width: 576px) {
    [class^="col-sm"].tmux {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        overflow-y: auto;
    }
}
@media(min-width: 768px) {
    [class^="col-md"].tmux {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        overflow-y: auto;
    }
}
@media(min-width: 992px) {
    [class^="col-lg"].tmux {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow-y: auto;
    }
}
@media(min-width: 1200px) {
    [class^="col-xl"].tmux {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        overflow-y: auto;
    }
}

.main [class^="col"].tmux {
	padding: 32px 64px;
}


/* bash-folder: #b095c8
 * bash-file-x: #95c7ae
 * bash-prompt-user: #c795ae
 * bash-prompt-folder: #b095c8
 * bash-prompt-prompt: #c795ae
 * tmux-footer background: #c795ae
 * tmux-footer color: #1c2021
 *
 * background: rgba(28, 32, 33, 0.9)    
 *
 */

/* width */
::-webkit-scrollbar {
      width: 10px;
    }

/* Handle */
::-webkit-scrollbar-thumb {
      background: rgb(101, 63, 73); 
    }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

.bash-black {
    color: #757c84
}
.bash-red {
    color: #c7ad94
}
.bash-green {
    color: #95c7ae
}
.bash-yellow {
    color: #adc995
}
.bash-blue {
    color: #b095c8
}
.bash-magenta {
    color: #c795ae
}
.bash-cyan {
    color: #94aec7
}
.bash-grey {
    color: #757c84
}
